html {
  background-color: #282828;
  overflow-x: hidden;
}

.app-container {
  display: grid;
  gap: 2em;
  grid-template-areas: 
    "top  top  top  top  top  top  top"
    "top  top  top  top  top  top  top"
    "side main main main main main main"
    "side main main main main main main"
    "side main main main main main main";
  grid-template-columns: repeat(7, 0.75fr)

}

.search {
  grid-area: top;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.search-form input{
  width: 30rem;
  height: 2rem;
  border-radius: 8em;
  border: none;
  outline-color: #5e43f3;
  outline-width: small;
  background-color: #3f3f3f;
  color: white;
  font-size: 1rem;
  padding-left: 2em; 

}

.sidebar {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-width: 0;
  border-right-width: 0.125em;
  border-color: #3f3f3f;
  border-style: solid;
  height: 74vh;
}

.tab {
  background-color: #3f3f3f;
  height: 5em;
  width: 5em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  height: fill;
  width: fill;
  align-items: center;
}


