html {
  background-color: #282828;
  overflow: none;
}

/* Styles the app container to be one massive grid, handles background transitions*/
.app-container {
  display: grid;
  grid-template-areas: 
    "top  top  top  top  top  top  top"
    "top  top  top  top  top  top  top"
    "side side main main main main main"
    "side side main main main main main"
    "side side main main main main main";
  grid-template-columns: repeat(7, 0.75fr)
  transition: background-color 0.5s ease-in-out;
  overflow-x: none;
  width: "100vw";
}

/*styles the parent container for the searchbar and search form insures whole component is in front of the backdrop*/
.search {
  grid-area: top;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  z-index: 30;
}

/*Styles the backdrop to animate in behind the search bar, creating a greater distinction between the front and back of the website */
.search-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10;
}


.search-form input{
  width: 30rem;
  height: 2rem;
  border-radius: 8em;
  border: none;
  outline-color: #5e43f3;
  outline-width: small;
  background-color: #3f3f3f;
  color: white;
  font-size: 1rem;
  padding-left: 2em; 

}

.search-form{
  z-index: 20;
  position: relative;
}



.selected {
  background-color: #717171;
}

/* container for the tabs on the left side */
.sidebar {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-width: 0;
  border-right-width: 0.125em;
  border-color: #3f3f3f;
  border-style: solid;
  height: 74vh;
  width: 10vw;
}

/* styling individual tabs*/
.tab {
  height: 5em;
  width: 5em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
 
}

.tab .selected {
  background-color: #3f3f3f;
}


/* container for the video grid */
.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  height: auto;
  width: 89vw;
  align-items: center;
  overflow-x: none;
}

/* video grid */
.main-grid {
  display: grid;
  margin-left: 10em;
  margin-right: 10em;
  grid-template-columns: 2fr 2fr 2fr;
  width: 100%;
  height: 100%;
  gap: 1em;
}

.video-card {
  display: flex;
  background-color: #3f3f3f;
  justify-content: start;
  height: 15em;
  border-radius: 1em;
  text-align: left;
  
}

/* styling the individual video cards */
.video-card img {
  height: 10em;
  width: 20em;
  display: block;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}



.truncate {
  text-align: left;
  width: 15em;
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;
  margin-left: 10px;
  padding-top: 10px;
}

.video-card h3, .video-card p {
  margin-bottom: 0;
  margin-top: 0.125em;
}


/* animates a moving gradient into the backgroun of the tab on hover */
.tab:hover {
    background: linear-gradient(218deg, #dd13bb, #dd7713);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
    opacity: 1;
    box-shadow: 1px 1px 4px;
    
}

.tab:hover svg {
  fill: #282828;
}

/* animations for gradient */
@-webkit-keyframes AnimationName {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@keyframes AnimationName {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
